/* .addNote{
    margin: 25px auto;
    width: 400px;
    padding: 10px;
    border: 1px solid #ffffff;
    background:black;
    color: snow;
    border-radius: 8px;
}

.submit{
    background: transparent;
    transition: 0.1s ease-in-out;
    border: 1.5px solid;
    border-radius: 10px;
    color: snow;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}

.submit:hover{
    transform: scale(1.1);
    background: lightslategray;
    border: 1.5px solid ;
    color: snow;
} */